h1  {
	font-family: Arial;
}
h2  {
	font-family: "Comic Sans MS";
}
h3  {
	font-family: "Georgia";
}
h4  {
	font-family: "Verdana";
}
h5  {
	font-family: "Trebuchet MS";
}
h6  {
	font-family: "Impact";
}
h7  {
	font-family: "Arial Black";
}
a  {
	font-family: "Courier New";
}
p  {
	font-family: "Times New Roman";
}

