div {
	width: 600px;
	text-align: justify;
	border: 1px solid black;
	padding: 20px;
    margin: 0 auto;
}
.B1 {
	float: left;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.B2 {
	float: right;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
