#B1 {
    padding: 50px;
    width: 500px;
    margin-bottom: 30px;
    border: 1px solid red;
    text-align: justify;
}
#B2 {
    width: 300px;
    padding: 10px;
    margin-left: 50px;
    border: 1px solid red;
    text-align: justify;
}