#B2 {
	padding-top:    50px; /* сверху */
	padding-right:  25px; /* справа */
	padding-bottom: 50px; /* снизу */
	padding-left:  25px; /* слева */
	
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}
