.parent {
	display: flex;
    width: 900px;
    height: 100px;
    margin: 20px auto;
	border: 1px solid red;
    text-align: center;
}
.child {
	width: 125px;
	height: 100px;
	text-align: left;
	border: 1px solid green;
}